{{#each articles}}
<div class="card">
    <div class="card-header" style="background-color: black; color: white;">
        <h2 class="card-title">{{this.title}}</h2>
    </div>
    <div class="card-body" style="background-color: gray;">
        <h2 class="card-title" style="display: none">{{this.title}}</h2>
        <p class="card-text">{{this.summary}}</p>
        <a href={{this.link}} class="btn btn-primary">{{this.link}}</a>
        <br>
        <br>
        
        <form>
            Add Comment:<br>
            <input type="text" id={{this._id}} name="comment"><br>
            <input data-id={{this._id}} class="addCommentbutton" type="submit" value="Add Note"></input>
        </form>
        <button data-id={{this.note._id}} class="showCommentsButton">Show Comments</button>
        <button data-id={{this._id}} class="deleteArticle"> Delete Article</button>
    </div>
</div>

{{/each}}

<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Comments:</h1>
        <div id="commentsContainer"> </div>
    </div>

</div>